--
-- PostgreSQL database dump
--

\restrict Q0oxwbYG6DajdPTOZtlaMZatw8gM0jJuPXPp2J3s7U0bGYNpMoFMDlruGyNYgpa

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.8

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: audit_log_entries; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.audit_log_entries (instance_id, id, payload, created_at, ip_address) FROM stdin;
\.


--
-- Data for Name: flow_state; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.flow_state (id, user_id, auth_code, code_challenge_method, code_challenge, provider_type, provider_access_token, provider_refresh_token, created_at, updated_at, authentication_method, auth_code_issued_at, invite_token, referrer, oauth_client_state_id, linking_target_id, email_optional) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.users (instance_id, id, aud, role, email, encrypted_password, email_confirmed_at, invited_at, confirmation_token, confirmation_sent_at, recovery_token, recovery_sent_at, email_change_token_new, email_change, email_change_sent_at, last_sign_in_at, raw_app_meta_data, raw_user_meta_data, is_super_admin, created_at, updated_at, phone, phone_confirmed_at, phone_change, phone_change_token, phone_change_sent_at, email_change_token_current, email_change_confirm_status, banned_until, reauthentication_token, reauthentication_sent_at, is_sso_user, deleted_at, is_anonymous) FROM stdin;
\.


--
-- Data for Name: identities; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.identities (provider_id, user_id, identity_data, provider, last_sign_in_at, created_at, updated_at, id) FROM stdin;
\.


--
-- Data for Name: instances; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.instances (id, uuid, raw_base_config, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: oauth_clients; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.oauth_clients (id, client_secret_hash, registration_type, redirect_uris, grant_types, client_name, client_uri, logo_uri, created_at, updated_at, deleted_at, client_type, token_endpoint_auth_method) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.sessions (id, user_id, created_at, updated_at, factor_id, aal, not_after, refreshed_at, user_agent, ip, tag, oauth_client_id, refresh_token_hmac_key, refresh_token_counter, scopes) FROM stdin;
\.


--
-- Data for Name: mfa_amr_claims; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.mfa_amr_claims (session_id, created_at, updated_at, authentication_method, id) FROM stdin;
\.


--
-- Data for Name: mfa_factors; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.mfa_factors (id, user_id, friendly_name, factor_type, status, created_at, updated_at, secret, phone, last_challenged_at, web_authn_credential, web_authn_aaguid, last_webauthn_challenge_data) FROM stdin;
\.


--
-- Data for Name: mfa_challenges; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.mfa_challenges (id, factor_id, created_at, verified_at, ip_address, otp_code, web_authn_session_data) FROM stdin;
\.


--
-- Data for Name: oauth_authorizations; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.oauth_authorizations (id, authorization_id, client_id, user_id, redirect_uri, scope, state, resource, code_challenge, code_challenge_method, response_type, status, authorization_code, created_at, expires_at, approved_at, nonce) FROM stdin;
\.


--
-- Data for Name: oauth_client_states; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.oauth_client_states (id, provider_type, code_verifier, created_at) FROM stdin;
\.


--
-- Data for Name: oauth_consents; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.oauth_consents (id, user_id, client_id, scopes, granted_at, revoked_at) FROM stdin;
\.


--
-- Data for Name: one_time_tokens; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.one_time_tokens (id, user_id, token_type, token_hash, relates_to, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.refresh_tokens (instance_id, id, token, user_id, revoked, created_at, updated_at, parent, session_id) FROM stdin;
\.


--
-- Data for Name: sso_providers; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.sso_providers (id, resource_id, created_at, updated_at, disabled) FROM stdin;
\.


--
-- Data for Name: saml_providers; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.saml_providers (id, sso_provider_id, entity_id, metadata_xml, metadata_url, attribute_mapping, created_at, updated_at, name_id_format) FROM stdin;
\.


--
-- Data for Name: saml_relay_states; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.saml_relay_states (id, sso_provider_id, request_id, for_email, redirect_to, created_at, updated_at, flow_state_id) FROM stdin;
\.


--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: sso_domains; Type: TABLE DATA; Schema: auth; Owner: -
--

COPY auth.sso_domains (id, sso_provider_id, domain, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: it_assets; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.it_assets (asset_id, asset_tag, serial_number, asset_type, model, manufacturer, assigned_user_id, location, purchase_date, warranty_expiration, last_maintenance_date, next_maintenance_date, cost, currency, status, created_at, updated_at) FROM stdin;
6f26aa07-a35f-4e3e-bdff-f9e1e4cbc519	laptop123	12345	laptop	1234	dell	\N	Philippines	\N	\N	\N	\N	\N	USD	retired	2026-02-11 01:34:29.74635+00	2026-02-13 07:13:15.301684+00
\.


--
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: tickets; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: asset_tickets; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.asset_tickets (association_id, asset_id, ticket_id, associated_at) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: change_requests; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: change_approvers; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.change_approvers (approver_id, change_id, user_id, approval_status, approval_comment, approved_at) FROM stdin;
3ad2c537-710b-4048-9e16-2970c6562e84	d0d973a6-c713-4a86-a868-d28bf15d6382	62530f75-a4d6-4d57-9778-0eae86e00f12	approved	\N	2026-02-12 02:11:16.556506+00
8d5a0267-4384-4431-bd33-9cb929ac7d66	c5c9e720-5e1b-421d-81b9-81f121557f12	62530f75-a4d6-4d57-9778-0eae86e00f12	approved	\N	2026-02-13 07:09:56.687421+00
\.


--
-- Data for Name: classification_rules; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.classification_rules (rule_id, rule_name, keywords, matching_type, assigned_priority, assigned_category, is_active, order_priority, created_at, updated_at, franchise_id) FROM stdin;
\.


--
-- Data for Name: knowledge_base_articles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: kb_article_feedback; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.kb_article_feedback (feedback_id, article_id, user_id, feedback_type, comment, created_at) FROM stdin;
\.


--
-- Data for Name: kb_article_versions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: routing_rules; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: service_requests; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.service_requests (request_id, request_number, ticket_id, request_type, details, requested_by, approver_id, status, approval_comment, approved_at, fulfilled_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sla_rules; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: sla_history; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.sla_history (history_id, ticket_id, sla_id, response_due, resolution_due, response_met, resolution_met, escalated_at, breached_at, recorded_at) FROM stdin;
\.


--
-- Data for Name: team_members; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ticket_comments; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ticket_attachments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.ticket_attachments (attachment_id, ticket_id, file_name, file_path, file_size, file_type, uploaded_by, uploaded_at, is_deleted, comment_id) FROM stdin;
fe06aa57-c94b-467f-a1c0-cfde3e555e0d	dac97da0-3903-4a59-9387-b4226823425d	si nasa.jpg	uploads/1771682102685_si_nasa.jpg	4289238	image/jpeg	62530f75-a4d6-4d57-9778-0eae86e00f12	2026-02-21 13:54:59.571272+00	f	\N
\.


--
-- Data for Name: ticket_escalations; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.ticket_escalations (escalation_id, ticket_id, reason, severity, escalated_by, status, resolved_by, escalated_at, resolved_at) FROM stdin;
5901506a-cb9c-4380-b62b-4b3e2b9a6b00	3c4c1a90-053c-4f16-96d0-85818a94acf4	SLA threshold 90% reached	high	\N	open	\N	2026-02-23 23:41:26.727705+00	\N
\.


--
-- Data for Name: ticket_priority_override_requests; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.ticket_priority_override_requests (request_id, ticket_id, requested_priority, reason, requested_by, status, reviewed_by, reviewed_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: ticket_status_history; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ticket_templates; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.ticket_templates (template_id, name, title, description, business_impact, category, priority, created_by, is_active, created_at, updated_at, franchise_id) FROM stdin;
\.


--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: realtime; Owner: -
--



--
-- Data for Name: subscription; Type: TABLE DATA; Schema: realtime; Owner: -
--

COPY realtime.subscription (id, subscription_id, entity, filters, claims, created_at, action_filter) FROM stdin;
\.


--
-- Data for Name: buckets; Type: TABLE DATA; Schema: storage; Owner: -
--

COPY storage.buckets (id, name, owner, created_at, updated_at, public, avif_autodetection, file_size_limit, allowed_mime_types, owner_id, type) FROM stdin;
\.


--
-- Data for Name: buckets_analytics; Type: TABLE DATA; Schema: storage; Owner: -
--

COPY storage.buckets_analytics (name, type, format, created_at, updated_at, id, deleted_at) FROM stdin;
\.


--
-- Data for Name: buckets_vectors; Type: TABLE DATA; Schema: storage; Owner: -
--

COPY storage.buckets_vectors (id, type, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: storage; Owner: -
--



--
-- Data for Name: objects; Type: TABLE DATA; Schema: storage; Owner: -
--

COPY storage.objects (id, bucket_id, name, owner, created_at, updated_at, last_accessed_at, metadata, version, owner_id, user_metadata) FROM stdin;
\.


--
-- Data for Name: s3_multipart_uploads; Type: TABLE DATA; Schema: storage; Owner: -
--

COPY storage.s3_multipart_uploads (id, in_progress_size, upload_signature, bucket_id, key, version, owner_id, created_at, user_metadata) FROM stdin;
\.


--
-- Data for Name: s3_multipart_uploads_parts; Type: TABLE DATA; Schema: storage; Owner: -
--

COPY storage.s3_multipart_uploads_parts (id, upload_id, size, part_number, bucket_id, key, etag, owner_id, version, created_at) FROM stdin;
\.


--
-- Data for Name: vector_indexes; Type: TABLE DATA; Schema: storage; Owner: -
--

COPY storage.vector_indexes (id, name, bucket_id, data_type, dimension, distance_metric, metadata_configuration, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: secrets; Type: TABLE DATA; Schema: vault; Owner: -
--

COPY vault.secrets (id, name, description, secret, key_id, nonce, created_at, updated_at) FROM stdin;
\.


--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE SET; Schema: auth; Owner: -
--

SELECT pg_catalog.setval('auth.refresh_tokens_id_seq', 1, false);


--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.password_reset_tokens_id_seq', 7, true);


--
-- Name: subscription_id_seq; Type: SEQUENCE SET; Schema: realtime; Owner: -
--

SELECT pg_catalog.setval('realtime.subscription_id_seq', 1, false);


--
-- PostgreSQL database dump complete
--

\unrestrict Q0oxwbYG6DajdPTOZtlaMZatw8gM0jJuPXPp2J3s7U0bGYNpMoFMDlruGyNYgpa

